.hidden {
    display: none;
}
#quote {
    color:#e43f5a;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    /* position: fixed;
    bottom: 10%;
    left: 25%; */
}
h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
}
input {
    width: 20%;
    border-radius: 25px;
}
input[placeholder] {
    font-family: 'Montserrat', sans-serif;
    color: balck;
    background-color: #fff;
    text-shadow: 3px 5px 3px rgba(128, 128, 128, 0.8);
    line-height: 2;
    border-radius: 25px;
    text-align: center;
}
#clock {
    color: aqua;
}
#todo-list {
    color: white;
}
li {
    margin: 5px;
}
button{
    background-color:transparent;
}
::marker {
    color: #e43f5a;
}
#weather{
    color: white;
    font-size: larger;
    font-weight: bold;
}